@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* .open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    font-family: "Lato", sans-serif;
} */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
    font-family: "Lato", sans-serif;
}

i:hover {
    opacity: 0.6;
}

nav {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}

a {
    text-decoration: none;
    position: relative;

}

/* ABOUT ME SECTION */
#about-me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.personal__logo {
    font-size: 24px;
    color: #FF8500;
    margin: 0 12px;
    font-weight: bold
}

.nav__link--list {
    display: flex;
}

.nav__link--anchor {
    margin: 0 12px;
    color: #242424;
    font-weight: 700;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: -3px;
    right: 0;
    transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
    background-color: #FF9E00;
}

.nav__link--anchor-primary {
    background-color: #FF8500;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
}

.link__hover-effect--black:after {
    background-color: #000;
}

.link__hover-effect:hover:after {
    width: 100%;
    left: 0;
}

.link__hover-effect--white:after {
    background-color: #fff;
}

li {
    list-style-type: none;
    padding: 8px 20px;
    margin: 8px;
}

.redirect__link {
    text-decoration: none;
    color: black;
}

.redirect__link:visited {
    color: black;
}

.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 12px;
}

.about-me__info--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.about_me--myimage {
    width: 100%;

    transform: scale(1);


}

.about-me__info {
    display: flex;
    flex-direction: column;
}

.about-me__title {
    font-size: 32px;
    animation: fade-up 400ms 200ms backwards;
}

.about-me__figure_image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
    margin-bottom: 28px;
    animation: animate-profile-picture 800ms 200ms backwards;
}

@keyframes animate-profile-image {
    0% {
        transform: scale(0)
    }

    70% {
        transform: scale(1.3)
    }

    100% {
        transform: scale(1)
    }
}

.about-me__undrawimage {
    flex: 1;
    display: flex;
    align-items: center;
}

.about-me__undrawimage--modifier {
    width: 100%;
    animation: fade-in 1200ms 800ms backwards;
}

.about-me__ul--modifier {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me__para--modifier {
    font-size: 24px;
    margin-bottom: 18px;
    font-family: "Open Sans", sans-serif;
    animation: fade-up 400ms 200ms backwards;
}

.about-me__span--modifier {
    color: #FF8500;
}

.description__span--modifier {
    color: #FF8500;

}

.about-me__social--links {
    animation: fade-up 400ms 200ms backwards;
}

.about-me__social--link {
    font-size: 20px;
    color: #242424;
    padding: 0 16px;
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

}

.wavvy {
    display: inline-block;
    animation: animate-emoji 600ms infinite ease;

}

@keyframes animate-emoji {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(25deg);
    }

    50% {
        transform: rotate(-25deg);
    }

    100% {
        transform: rotate(0);
    }
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}
/* Languages Section */

.language_row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.language_image {
    height: 100px;
    width: 100px;
}

.container {
    padding: 20px 0;
}

.section__title {
    font-size: 32px;
    text-align: center;
    margin-bottom: 16px;
    margin-top: 16px;
}

.language__img {
    width: 100%;
    max-width: 100px;
    transition: all 300ms;
}

.language {
    width: 25%;
    position: relative;
    display: flex;
    justify-content: center;
}

.language__img--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 16px;
}

.language__list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.languagebackend {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
}

#languages {
    background-color: #ff9d001c;
}

.language:hover .language__img {
    cursor: pointer;
    filter: brightness(80%);
    opacity: 0.8;
    transform: scale(0.9);
}

.language_name {
    position: absolute;
    bottom: 0;
    transform: scale(0);
    transition: all 300ms;
    font-size: 16px;
}

.language:hover .language_name {
    transform: scale(1);
}

.languagebackend:hover .language__img {
    cursor: pointer;
    filter: brightness(80%);
    opacity: 0.8;
    transform: scale(0.9);
}

.backend_language_name {
    position: absolute;
    bottom: 0;
    transform: scale(0);
    transition: all 300ms;
    font-size: 16px;
}

.languagebackend:hover .backend_language_name {
    transform: scale(1);
}

/* Projects */

.project__image {
    width: 100%;
}

.project__wrapper {
    display: flex;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.50);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    margin-bottom: 50px;


}

.project__wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition: opacity 450ms ease;
    z-index: 2;
}

.project:hover .project__wrapper:before {
    opacity: 0.8;
}

.project:hover .project__image {
    transform: scale(1.25);
    filter: blur(5px);
}

.project_description {
    position: absolute;
    top: 50%;
    left: 90px;
    max-width: 550px;
    color: white;
    z-index: 3;
    opacity: 0;
    transition: transform 450ms, opacity 500ms;
}

.project__description--link {
    text-decoration: none;
    color: white;
}

.project__description--title {
    font-size: 24px;
    padding: 8px 0;
}

.project__description--subtitle {
    padding: 8px 0;
}

.project__description--para {
    font-size: 10px;

    margin-bottom: 10px;
}

.project__description--link {
    font-size: 16px;
    padding: 8px;
}

.project:hover .project_description {
    opacity: 1;
    transform: translateY(-50%);
}

.project:last-child {
    margin-bottom: 10px;
}

/* Footer */

footer {
    background-color: #242424;
}

.footer__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4%;
}

.footer__social--link,
.footer__para {
    color: white;
    text-decoration: none;
}

.footer__figure {
    margin-bottom: 16px;
}

.footer__social--lists {
    display: flex;
    width: 100%;
    max-width: 500px;
    justify-content: space-between;
    margin-bottom: 16px;
    position: relative;
}

.footer__logo--img {
    height: 40%;
    width: 100%;
    max-width: 500px;
}

.footer__hover--effect:after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: white;
    width: 0;
    bottom: -3px;
    right: 0;

    transition: all 300ms ease;

}

.footer__hover--effect:hover:after {
    width: 100%;
    left: 0;
}

/* Responsive design */

@media (max-width:768px) {
    nav {
        height: 68px;
    }

    /* .about-me__logo--modifier{
        font-size: 16px;
    } */
    li {
        font-size: 12px;
    }

    .about-me__title {
        font-size: 24px;
    }

    .about_me--myimage {
        width: 100px;
        height: 100px;
    }

    .about-me__para--modifier {
        font-size: 16px;
        padding: 8px;
    }

    .section__title {
        font-size: 20px;
    }

    .language__img--wrapper {
        padding: 0px 0px;
        margin: 16px 0px;
    }

    .language {
        width: calc(100% / 2);
    }

    .language_name {
        font-size: 16px;
    }

    .project__description--para {
        font-size: 8px;
    }

    .project_description {
        left: 5%;
        padding-right: 10%;
    }


}

@media (max-width:520px) {
    .nav__link:not(:last-child) {
        display: none;
    }

    .project_description {
        padding: 0;
        left: 0;
        width: 100%;
    }

    .project__description--para {
        display: none;
    }

    .project__description--links {
        display: flex;
        justify-content: center;
    }

    .project__description--title {
        font-size: 32px;
        line-height: 1;
        text-align: center;
    }

    .project__description--subtitle {
        text-align: center;
        margin: 0 0;
    }

    .project__span--modifier {
        display: none;
    }
}